/* ==========================================
   BUTTON
========================================== */

.button {

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 12px 24px;

    background-color: var(--accent-primary);

    color: var(--text-primary);

    border-radius: var(--border-radius-small);

    border: none;

    transition: 0.3s;

}

.button:hover {

    background-color: var(--accent-hover);

}

/* ==========================================
   MOBILE
========================================== */

@media screen and (max-width:767px) {

    .button {

        width: 100%;

    }

}

/* ==========================================
   TABLET
========================================== */

@media screen and (min-width:768px) {

    .button {

        width: fit-content;

    }

}

/* ==========================================
   DESKTOP
========================================== */

@media screen and (min-width:1024px) {



}