/* ==========================================
   FOOTER
========================================== */

.footer {

    display: flex;

    justify-content: center;

    width: 100%;

    background-color: var(--background-secondary);

    border-top: 1px solid var(--border-colour);

}

/* ==========================================
   CONTAINER
========================================== */

.footer-container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    max-width: 1200px;

    padding: 20px;

}

/* ==========================================
   FOOTER SECTIONS
========================================== */

.footer-left,
.footer-center,
.footer-right {

    display: flex;

    justify-content: center;

    align-items: center;

    flex: 1;

}

.footer-center {

    text-align: center;

}

.footer-right {

    justify-content: flex-end;

}

/* ==========================================
   MOBILE
========================================== */

@media screen and (max-width:767px) {

    .footer-container {

        flex-direction: column;

        gap: 15px;

    }

    .footer-right {

        justify-content: center;

    }

}

/* ==========================================
   TABLET
========================================== */

@media screen and (min-width:768px) {



}

/* ==========================================
   DESKTOP
========================================== */

@media screen and (min-width:1024px) {



}