/* ==========================================
   RESET
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================
   BODY
========================================== */

body {

    background-color: var(--background-primary);

    color: var(--text-primary);

    font-family: Arial, Helvetica, sans-serif;

}

/* ==========================================
   APP
========================================== */

.app-container {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

}

/* ==========================================
   MAIN
========================================== */

.main-content {

    display: flex;

    flex-direction: column;

    flex: 1;

    width: 100%;

}

/* ==========================================
   LINKS
========================================== */

a {

    text-decoration: none;

    color: inherit;

}

/* ==========================================
   LISTS
========================================== */

ul {

    list-style: none;

}

/* ==========================================
   IMAGES
========================================== */

img {

    width: 100%;

    display: block;

}

/* ==========================================
   BUTTONS
========================================== */

button {

    cursor: pointer;

    border: none;

    outline: none;

}

/* ==========================================
   MOBILE FIRST
========================================== */

/*
Default styles above apply to mobile devices.
*/

/* ==========================================
   TABLETS
========================================== */

@media screen and (min-width: 768px) {

    .main-content {

        width: 100%;

    }

}

/* ==========================================
   DESKTOPS
========================================== */

@media screen and (min-width: 1024px) {

    .main-content {

        width: 100%;

    }

}